@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Bold.woff2);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font: 16px Montserrat, sans-serif;
    line-height: 1.2;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.mainContainer {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background: linear-gradient(330deg, #0c43ff 0%, #19d7fb 100%);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.6);
}

header .mainContainer {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .btnArea a {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    border: 3px solid white;
    color: white;
    background-color: #007aff;
    transition: 0.2s ease-in-out;
}

header .btnArea a:hover {
    opacity: 70%;
}

header .btnArea a .arrow {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-left: 3.5px solid #fff;
    border-bottom: 3.5px solid #fff;
    transform: rotate(45deg);
    margin: 12px 0 0 15px;
}

header .textArea {
    flex: 9;
}

header .textArea h1 {
    color: #fff;
    font-size: 34px;
    text-shadow: 0 0 4px rgb(0, 0, 0);
    text-align: center;
}

header .textArea h1 .orange {
    font-size: 34px;
    color: #FFCE49;
}

header .connectionArea {
    display: flex;
    gap: 4px;
}

header #ws,
header #kl {
    width: 30px;
    height: 30px;
    fill: red;
    stroke: black;
    stroke-width: 16px;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0));
}

main {
    padding: 20px 0;
}

main .settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

.card {
    background-color: #f8f7f9;
    box-shadow: 2px 2px 12px 5px rgba(105, 105, 105, 0.6);
    padding: 20px;
    border-radius: 10px;
}


.card h1 {
    font-size: 26px;
    border-bottom: 2px solid #00a0eb;
    margin-bottom: 20px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 10px 0;
}

label {
    font-family: sans-serif;
    font-size: 19px;
}

input {
    width: 100%;
    border-radius: 5px;
    padding: 2px 5px;
}

hr {
    margin: 10px 0;
}

.radioBtns {
    text-align: start;
}

.radioBtn {
    padding: 6px;
    border-radius: 50px;
    display: inline-flex;
    transition: background 0.2s ease;
    cursor: pointer;
}

.radioBtn:hover,
.radioBtn:focus-within {
    background-color: #9f9f9f40;
}

.radioBtn input {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1.5px #9f9f9f;
    appearance: none;
    transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
    cursor: pointer;
}

.radioBtn input:checked {
    box-shadow: inset 0 0 0 6px #007aff;
}

.radioBtn label {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    padding: 0 8px;
    cursor: pointer;
}

.submit-btn {
    display: block;
    margin: 0 auto;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    outline: none;
    border: none;
    color: #fff;
    background-color: #007aff;
    border-radius: 10px;
    transition: 0.12s ease-in-out;
}

.submit-btn:hover {
    scale: 1.03;
}

.submit-btn:active {
    background-color: #004fa3;
    scale: 0.98;
}

.staticIP-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.staticIP-menu.show {
    max-height: 200px;
    transition: max-height 0.4s ease-in;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.savedBox {
    margin: 20px;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.savedBox h1 {
    color: #34b171;
    font-size: 26px;
    margin-bottom: 10px;
}

.savedBox p {
    font-size: 16px;
    margin-bottom: 20px;
}

.savedBox a {
    cursor: pointer;
    padding: 10px 60px;
    font-size: 24px;
    color: #fff;
    background-color: #34b171;
    border-radius: 20px;
    transition: 0.12s ease-in-out;
}

input[type="file"]::file-selector-button {
    background: #fff;
    color: black;
    border: 1px solid #5c5c5c;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.12s ease-in-out;
}

input[type="file"]::file-selector-button:hover{
    background-color: #eae9e9;
}

@media screen and (max-width: 700px) {
    main .settings {
        grid-template-columns: 1fr;
    }

    header #ws,
    header #kl {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 570px) {
    .input {
        font-size: 16px;
    }

    .label {
        font-size: 16px;
    }

    .submit-btn {
        font-size: 20px;
        padding: 10px 30px;
    }
}