@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Bold.woff2);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font: 16px Montserrat, sans-serif;
    line-height: 1.2;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.mainContainer {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background: linear-gradient(330deg, #0c43ff 0%, #19d7fb 100%);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.6);
}

header .mainContainer {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .btnArea a {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    border: 3px solid white;
    color: white;
    background-color: #007aff;
    transition: 0.2s ease-in-out;
}

header .btnArea a:hover {
    opacity: 70%;
}

header .btnArea a .arrow {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-left: 3.5px solid #fff;
    border-bottom: 3.5px solid #fff;
    transform: rotate(45deg);
    margin: 12px 0 0 15px;
}

header .textArea {
    flex: 9;
}

header .textArea h1 {
    color: #fff;
    font-size: 34px;
    text-shadow: 0 0 4px rgb(0, 0, 0);
    text-align: center;
}

header .textArea h1 .orange {
    font-size: 34px;
    color: #FFCE49;
}

header .connectionArea {
    display: flex;
    gap: 4px;
}

header #ws,
header #vehicleStatus {
    width: 30px;
    height: 30px;
    fill: red;
    stroke: black;
    stroke-width: 16px;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0));
}

main {
    padding: 20px 0;
}

main .box {
    display: flex;
    flex-direction: column;
    background-color: #393939;
    border-radius: 10px;
    text-align: center;
}

main .dataBox {
    display: none;
    grid-template-columns: 1fr;
    gap: 10px 40px;
}

main .dataBox h1 {
    margin: 14px 0;
    font-size: 26px;
    color: #fff;
}

main .dataBox h1 span {
    font-size: 64px;
    color: #00a0eb;
}

main .dataBox .name {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    color: #fff;
    background-color: #242424;
    border-radius: 0 0 10px 10px;
}

main #statusBox{
    display: block;
}

main #statusBox h1{
    color: #00a0eb;
}

main #speedBox{
    display: none;
}

main .timerArea {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #393939;
}

.timerArea .timerDisplay {
    text-align: center;
    color: #fff;
    font-size: 34px;
    padding-top: 20px;
}

.timerArea .btnArea {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 14px 0;
    background-color: #242424;
    border-radius: 0 0 10px 10px;
}

.timerArea .btnArea button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 50px;
    font-size: 20px;
    text-align: center;
    background-color: #0077ff;
    color: #fff;
    border-radius: 10px;
    transition: 0.12s ease-in-out;
}

.timerArea .btnArea button:hover {
    scale: 1.03;
}

.timerArea .btnArea button:active {
    scale: 0.98;
    background-color: #004fa3;
}

main .info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #393939;
    border-radius: 10px;
}

main .info h1 {
    background-color: #242424;
    border-radius: 10px 10px 0 0;
    color: #00aeff;
    padding: 15px 20px;
    font-size: 22px;
}

main .info p {
    color: #fff;
    padding: 10px 20px 20px;
    font-size: 16px;
    line-height: 22px;
}

@media screen and (max-width: 700px) {

    header #ws,
    header #vehicleStatus {
        width: 24px;
        height: 24px;
    }

    .timerArea .btnArea {
        gap: 10px;
    }

    .timerArea .btnArea button {
        padding: 10px 36px;
    }
}