/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Bold.woff2);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font: 16px Montserrat, sans-serif;
    line-height: 1.2;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    background-color: #fff;
}

#car,
#battery {
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
}

.mainContainer {
    width: 90%;
    max-width: 540px;
    margin: 0 auto;
}

.banner {
    padding-bottom: 50px;
    background: linear-gradient(330deg, #0c43ff 0%, #19d7fb 100%);
}

.banner .mainContainer {
    padding: 24px 0 10px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
}



.banner .logoArea img {
    width: 100%;
}

.banner .textArea {
    text-align: center;
}

.banner .textArea hr {
    margin: 5px 0;
}

.banner .textArea .title h1 {
    color: #fff;
    font-size: 54px;
    line-height: 54px;
    text-shadow: 0 0 4px rgb(0, 0, 0);
    margin-bottom: 30px;
}

.banner .textArea .title h1 .orange {
    color: #FFCE49;
    font-size: 54px;
    text-shadow: 0 0 4px rgb(0, 0, 0);
}

.banner .textArea .status h2 {
    color: #fff;
    font-size: 18px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.banner .textArea .status h3 {
    color: #00ff00;
    font-size: 24px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.banner .textArea .data {
    margin-top: 10px;
}

.banner .textArea .data svg {
    fill: #fff;
}

.banner .textArea .data h1 {
    font-size: 16px;
    color: red;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

main {
    background-color: #fff;
    position: relative;
    top: -50px;
    border-radius: 40px 40px 0 0;
}

main .mainContainer {
    padding-top: 40px;
}

main nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

main nav a {
    padding: 24px;
    color: #a5adb6;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #a7adbb;
    transition: 0.12s ease-in-out;
}

main nav a:hover {
    opacity: 80%;
    scale: 1.05;
}

main nav a img {
    width: 100%;
}

main nav a h2 {
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    main nav a {
        padding: 14px;
        box-shadow: 0 0 6px #a7adbb;
    }
}