@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #232323;
}

body .container {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #fff;
}

main .banner {
    width: 100%;
    padding-bottom: 50px;
    color: #fff;
    background: linear-gradient(330deg, #0c43ff 0%, #19d7fb 100%);
}

main .banner .container {
    width: 90%;
    margin: auto;
    padding: 24px 0 10px;
    display: flex;
    flex-direction: row;
    background: transparent;
}

main .banner .logoArea {
    width: 40%;
    padding: 0px 10px;
}

main .banner .logoArea img {
    width: 100%;
}

main .banner .textArea {
    width: 60%;
    text-align: center;
}
main .banner .textArea hr{
    margin: 5px 0;
}
main .banner .textArea h1 {
    font-size: 54px;
    text-shadow: 0px 1px 4px rgb(0, 0, 0);
    margin-bottom: 30px;
    line-height: 54px;
}
main .banner .textArea h1 .orange{
    font-size: 54px;
    text-shadow: 0px 1px 4px rgb(0, 0, 0);
    margin-bottom: 40px;
    color: #FFCE49;
}
main .banner .textArea h2 {
    font-size: 19px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}

main .banner .textArea h3 {
    font-size: 28px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    color: #00ff00;
}

main section {
    background-color: #fff;
    position: relative;
    top: -50px;
    border-radius: 40px;
}

main section .container {
    width: 80%;
    margin: auto;
    background: transparent;
}

main section nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

main section nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 30%;
    background-color: #fff;
    color: #a5adb6;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(46, 46, 46, 0.5);
    transition: 0.1s ease-in-out;
}
main section nav a:hover{
    opacity: 70%;
}

main section nav a img {
    width: 70%;
    margin-top: 10px;
}

main section nav a h2 {
    margin: 20px 0;
    text-align: center;
}